/* .form {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

.input-field{
    align-items: center;
}

.input {
    border-bottom-width: 2;
    border-bottom-color: purple;
    width: 100%;
    color: black;
  }

.input-field {
      width: 80%;
  } */

  .page {
    align-items: center;
    flex-direction: column;
    background-image: url('~/app/images/main_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Roboto"
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: white;
  }

  .input-field {
    margin-bottom: 25;
  }
  .input, select, textfield{
    color: white
}
  .input {
    font-size: 18;
    placeholder-color: white;
    text-decoration-color: white;
  }


  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }

  .btn-primary {
    margin: 30 5 15 5;
    background-color: #1B504E;
  }

  .login-label {
    horizontal-align: center;
    color: white;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000;
  }
  .fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
    color: white;
    transform: scale(1.5,1.5);
    }

 .far {
  font-family: "Font Awesome 5 Free", "fa-regular-400";
  font-weight: 400;
}
.fa-brands {
  font-family: "Font Awesome 5 Brands", "fa-brands-400";
}
.fas {
  font-family: "Font Awesome 5 Free", "fa-solid-900";
  font-weight: 900;
}
