<StackLayout orientation="vertical" class="main" >
            <Image #logo width="140" class="logo" src="~/app/images/fox.png"></Image>
            <Label [visibility]="navigating ? 'collapsed' : 'visible'" class="header" text="Moodset"></Label>
            <StackLayout #circle width="100" height="100" class="login-done" orientation="horizontal"></StackLayout>

            <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="horizontal" class="reg-log-container">
                <Label text="L O G I N" (tap)="setToLogin()" [ngClass]="[isLoggingIn ? 'reg-active' : 'reg-deactive']"></Label>
                <Label text=" | " class="reg-separator"></Label>
                <Label text="R E G I S T E R" (tap)="setToRegister()" [ngClass]="[!isLoggingIn ? 'reg-active' : 'reg-deactive']"></Label>
            </StackLayout>


            <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="vertical" class="form-container" [ngClass]="[formSubmitted ? 'form-container-submitted' : 'form-container']">
                <TextField [isEnabled]="!processing"
                keyboardType="email" 
                autocorrect="false"
                autocapitalizationType="none"
                 #email 
                 [(ngModel)]="user.email" 
                 hint="Email"
                  class="form-input"
                  textAlignment="center"></TextField>
                <Label
                *ngIf="!emailControlIsValid"
                text="Please enter a valid email."
              ></Label>
                <TextField #password #passwordField [isEnabled]="!processing" [(ngModel)]="user.password" hint="Password" class="form-input" textAlignment="center" secure="true"  >
                </TextField>
               <TextField #item #confirmPassword [(ngModel)]="user.confirmPassword" [visibility]="!isLoggingIn ? 'visible' : 'hidden'" hint="Confirm Password" class="form-input" secure="true" textAlignment="center"></TextField>
                <Button (touch)="onFocus($event)" #btn text="{{loginTxt}}" (tap)="submit()" class="form-button"></Button>
            </StackLayout>
            <Label *ngIf="isLoggingIn" [visibility]="navigating ? 'collapsed' : 'visible'" class="loginText" text="Or log in with your social media account:"></Label>
            <FlexboxLayout class="social-icons" [visibility]="navigating ? 'collapsed' : 'visible'" >
                    <Image *ngIf="isLoggingIn" class="google" src="~/app/images/google.png">
                    </Image>
                    <Image *ngIf="isLoggingIn" (tap)="facebookLogin()" class="facebook" src="~/app/images/facebook.png">
                    </Image>
                </FlexboxLayout>
                <Label *ngIf="isLoggingIn" text="Forgot your password?" class="login-label" [visibility]="navigating ? 'collapsed' : 'visible'" (tap)="forgotPassword()"></Label>
                <Label *ngIf="!isLoggingIn" text="Policies" class="policies-label" [visibility]="navigating ? 'collapsed' : 'visible'" [nsRouterLink]="['/policies']" pageTransition="slideTop"></Label>
        </StackLayout>
