
<!--  <StackLayout class="card">
    <ListView [items]="logs$ | async"  height="300">
        <ng-template let-item="item">
            <GridLayout columns="auto,*,auto">
                <Label class="m-5" col="0" [text]="item.mood"></Label>
                 <Image class="m-5" horizontalAlignment="left" col="0" width="40" height="40" [src]="item.imagepath.length>0 ? item.imagepath : '~/assets/camera.png'"></Image>
                <Label class="m-5" col="1" [text]='item.activity'></Label>
                <Label class="m-5" col="1" [text]='item.other'></Label>
                <Image class="m-5" col="2" horizontalAlignment="right" width="40" height="40" (tap)="delete(item)" [src]="'~/assets/trash.png'"></Image>
          </GridLayout>
        </ng-template>
    </ListView>
</StackLayout> -->

<GridLayout class="page page-content">
    <RadListView [items]="logs$ | async" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout class="list-group-item">
                <GridLayout rows="*, *, *" columns="*, *" class="list-group-item-content">
                    <Label [text]="item.mood" class="text-primary font-weight-bold"></Label>
                    <Label col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                        <FormattedString>
                           <!--TODO: Edit and delete functions will go here-->
                        </FormattedString>
                    </Label>
                    <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
                    <Button text="Delete" (tap)="delete(item)" > </Button>
                    <StackLayout row="2" col="1" verticalAlignment="center" class="list-group-item-text">
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span [text]="item.activity"></Span>
                                <Span [text]="item.other"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
