<ns-action-bar ></ns-action-bar>
<FlexboxLayout class="form">
        <StackLayout class="input-field">
                <Label
                class="label"
                text="Mood"></Label>
                <TextView
                [(ngModel)]="mood"
                #log="ngModel"
                class="input" ></TextView>
                </StackLayout>
        <StackLayout class="input-field">
                <Label
                class="label"
                text="Today's Activities"></Label>
                <TextView
                [(ngModel)]= "activity"
                #log="ngModel"
                class="input" ></TextView>
        </StackLayout>
        <StackLayout class="input-field">
                <Label
                class="label"
                text="Other"></Label>
                <TextView
                [(ngModel)]= "other"
                #log="ngModel"
                    class="input"
                    ></TextView>
                <Button
                    class="btn btn-primary"
                    text="Save"
                    (tap)="add()"></Button>
        </StackLayout>
        </FlexboxLayout>
