    <ns-action-bar [showBackButton]="false">
            <ActionItem ios.position="right" android.position="actionBar"
            nsRouterLink="/logs/new" pageTransition="slideLeft">
                <Label text="&#xf067;"   ios:class="fa p-5"
                android:class="fa p-10"
                android:fontSize="24"></Label>
            </ActionItem>
        </ns-action-bar>
    <StackLayout>
     <Label class="currentDay" [text]="currentDay | date: 'EEEE dd MMM'"> </Label>
 <FlexboxLayout class="mainItems">
        <Label class="noLogText" *ngIf="!currentLog" text="Log how you're feeling!" horizontalAlignment="right"></Label>
        <Image class="arrow" src="~/app/images/arrow.png"></Image>
    </FlexboxLayout>

        <StackLayout>
        <Image class="mainImg" src="~/app/images/meditating.png"></Image>
    </StackLayout>
    </StackLayout>
    <ns-bottom-tabs></ns-bottom-tabs>
