 .list-group-item {
        padding: 0 0 8 0;
        margin-bottom: 8
 }

.list-group-item-content {
            padding: 8 15 4 15;
        }
.list-group-item-text {
       background-color: rgba(27, 80, 78, 0.75);
       margin-right: 20;
       border-radius: 5;
}

.list-group {
       font-family: "Roboto"
}
.day{
       float: left;
       color: #1B504E;
       font-size: 26;
       margin-top: -10;
       text-transform: uppercase;
}
.dayNum{
       padding-top: 10;
       font-size: 25;
       color: #1B504E;
       padding-left: 12;
       padding-bottom: 5
}
.p-b-10{
       padding-left: 10;
       padding-top: 10;
       color: white
}
.delete{
       transform: scale(1.4,1.4);
       color: rgba(27, 80, 78, 0.75);
       margin-right: 15;
       margin-top: 10
}
