/* Add mobile styles for the component here.  */
 .list-group-item {
        padding: 0 0 8 0;
        margin-bottom: 8
 }

.list-group-item-content {
            padding: 8 15 4 15;
        }
.list-group-item-text {
       background-color: red;
       margin-right: 20
}

.list-group {
       background-image: url('~/app/images/main_background.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       font-family: "Roboto"
}
.day{
       float: left;
       transform: rotate(-90deg);
       color: white;
       font-size: 30;
       margin-top: -10
}
.dayNum{
       padding-top: 19;
       font-size: 30;
       color: white;
       margin-top: 20
}
